/* --- CSS sticky footer: http://www.cssstickyfooter.com/ */
html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#container {
	overflow: auto;
	padding-bottom: 50px; /* footer height */
}

#footer {
	position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear: both;
}

/* Opera footer fix */
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

/* Internet Explorer 6 and 8 fix */
.ie6 #wrap, .ie8 #wrap {
	display: table;
	height: 100%
}

/* --- Start custom button CSS here */
.button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: white url(../img/button.png) 0 0 repeat-x;
	background: -moz-linear-gradient(0% 170% 90deg, #c4c4c4, white);
	background: -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#c4c4c4));
	color: #404040;
	display: inline-block;
	font-size: 13px;
	padding: 5px 8px;
	text-align: center;
	text-shadow: 1px 1px 0 white;
	white-space: nowrap;
}

.button, .button:focus, .button:hover, .button:active {
	border: 1px solid;
}

.button {
	border-color: #e6e6e6 #cccccc #cccccc #e6e6e6;
}

.button:hover {
	background: -moz-linear-gradient(0% 170% 90deg, #b8b8b8, white);
	background: -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#b8b8b8));
	border-color: #ffcc99;
	color: #333333;
}

.button:active {
	position: relative;
	top: 1px;
}

.button:focus {
	border-color: #ffc78f #ffc994 #ffc994 #ffc78f;
}

.button:active {
	background-position: 0 -25px;
	background: -moz-linear-gradient(0% 170% 90deg, white, #dedede);
	background: -webkit-gradient(linear, 0% 0%, 0% 170%, from(#dedede), to(white));
	border-color: #ffc78f #ffc994 #ffc994 #ffc78f;
	color: #1a1a1a;
	text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5);
}

.button.large {
	font-size: 18px;
	padding: 8px 14px 9px;
	font-weight: bold;
	background-image: white;
	background: -moz-linear-gradient(0% 170% 90deg, #c4c4c4, white);
	background: -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#c4c4c4));
}

.button.large:active, .button.large:focus {
	background: -moz-linear-gradient(0% 170% 90deg, white, #dedede);
	background: -webkit-gradient(linear, 0% 0%, 0% 170%, from(#dedede), to(white));
}

.button.red {
	background: -moz-linear-gradient(0% 170% 90deg, red, #bd0000);
	background: -webkit-gradient(linear, 0% 0%, 0% 170%, from(#bd0000), to(red));
	text-shadow: 1px 1px 0 #b30000;
	font-weight: bold;
	color: white;
	border-color: #990000 #330000 #330000 #990000;
	padding: 4px 8px 6px;
}

.opera .button.red, .msie .button.red {
	background: red;
}

.button.red:hover {
	border-color: red;
}

.button.red:active, .button.red:focus {
	text-shadow: 1px -1px 0 #b30000;
	border-color: #990000 #d60000 #d60000 #990000;
}

.button.shadow {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.button.shadow:hover {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.button.shadow:active {
	-box-shadow: 0 0 7px yellow;
	-webkit-box-shadow: 0 0 7px yellow;
	-moz-box-shadow: 0 0 7px yellow;
}

.button.pillbox {
	position: relative;
	margin: 0;
}

.button.pillbox:hover {
	z-index: 10;
}

.button.pillbox:active {
	top: 0;
}

.button.pillbox-l {
	border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
}

.button.pillbox-m {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	margin: 0 -4px;
}

.gecko .button.pillbox-m {
	margin: 0 -4px 0 -3px;
}

.button.pillbox-r {
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	margin-right: 20px;
}

.button.multi {
	line-height: 1.15;
}

.opera .button.multi, .msie .button.multi {
	background: white;
}

.button.rounder {
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	padding: 5px 15px;
}

/* use if one button should be the 'primary' button */
.primary {
	font-weight: bold;
	color: #000;
}

/* --- Blipoteka styles */
body, select, input, textarea {
	font: 13px/1.2 "lucida grande", "helvetica neue", helvetica, arial, freesans, "liberation sans", "numbus sans l", sans-serif;
}

a, a:active, a:visited {
	color: #907860;
}

::-moz-selection { background: #FFA21F; color:#fff; text-shadow: none; }
::selection { background:#FFA21F; color:#fff; text-shadow: none; }

.r {
	text-align: right;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0
}

#header {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #FFF8EF;
	color: #6F4C30;
	min-height: 60px;
}

#header h1 {
	font-size: 24px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-shadow: 1px 1px 1px #CFA981;
}

#header h1 a {
	color: inherit;
	text-decoration: none;
}

#header p {
	padding-bottom: 8px;
}

#header .logo {
	display: block;
}

#header .account-area p {
	text-align: right;
}

#signin > footer p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#signin > header p {
	margin-bottom: 1em;
}

#footer {
	background-color: #eee;
}

#footer > div {
	padding: 17px;
	height: 16px;
}

#footer p {
	text-align: right;
}

#footer ul > li {
	display: inline-block;
}

#footer ul > li+li:before {
	content: ' • ';
}

#signin-wrap {
	padding: 2em 0;
}

#content > article {
	padding: 2em 0;
}
#content > article > footer {
	padding-top: 0.75em;
}

#content > article div.warning {
	padding: 1em;
	border: 1px solid #FFE3BF;
	background-color: #FFF8EF;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.error {
	color: #FF5000;
}

article h1, article h2, article h3, article h4, article h5, article h6, article p, article dl, article ul, article ol, article li, article pre, article table, article address {
	margin-bottom: 0.5em;
}

article h2 {
	font-size: 28px;
}

article h3 {
	font-size: 20px;
	margin-top: 0.75em;
}

article ul {
	list-style: disc
}

form p {
	margin: 0 0 10px;
}

form p .error {
	font-size: 11px;
}

form fieldset {
	padding-top: 0.5em;
}

input[type=text], input[type=email], input[type=password], select, textarea {
	border: 1px solid #aaa;
	transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .2s;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
}

input[type=email]:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline: none;
	border-color: rgba(236, 168, 82, .75) !important;
	box-shadow: 0 0 8px rgba(236, 168, 82, .5);
	-moz-box-shadow: 0 0 8px rgba(236, 168, 82, .5);
	-webkit-box-shadow: 0 0 8px rgba(236, 168, 82, .5);
}

label {
	display: block;
	padding: 0 0 3px;
}

input[type=text], input[type=email], input[type=password], input[type=search] {
	background: #fff;
	display: block;
	width: 220px;
	margin: 0 0 2px;
	padding: 5px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 13px;
}

input:invalid, textarea:invalid {
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 8px rgba(236, 236, 236, .5);
	-webkit-box-shadow: 0px 0px 8px rgba(236, 236, 236, .5);
	box-shadow: 0px 0px 8px rgba(236, 236, 236, .5);
}

button {
	margin: 0 0 2px;
}

input:focus {
	border-color: #ccc;
	outline-width: 0;
}

#content > div {
	padding-bottom: 24px;
}

.book-list .pagination {
	text-align: center;
}

.book-list table {
	width: 100%;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.book-list th {
	vertical-align: middle;
}

.book-list th, .book-list td {
	border: 1px solid #ccc;
	padding: 4px;
}

