/*
 * HTML5 Forms Fallback for older and unsupporting browsers
 * Using jQuery, jQuery UI, Modernizr, Webforms2, and other jQuery Plugins
 * 
 * 2010 Cristian I. Colceriu
 *
 * www.ghinda.net
 * contact@ghinda.net
 *
 * Stylesheet for demo page
 *
 */

/* General forms */
form {
	overflow: hidden;
	clear: both;
	width: 490px;
}
label{
	clear: left;
	float: left;
	width: 41%;
	padding-right: 2%;
	height: 1em;
	margin-bottom: 10px;
	
	text-align: right;
}
input{
	float: left;
	height: 1em;	
	margin-bottom: 15px;
}
button {
	float: left;
	clear: both;
	margin-left: 43%;
	
	display: inline;
}
/* Placerholder */
.placeholder {
	color: #aaa;
}
/* Slider */
.slider {
	float: left;	
    width: 49%;
	margin: 10px 0px 20px 10px;
}
/* Spinner */
.ui-spinner {
	float: left;
}