/*
used parts by marcofolio.net
*/

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,macbook,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { color:#fff; background-color:#151f23; font: 100%/1.4 "Candara", Verdana, Geneva, sans-serif; text-align:center; }
h1 { font: bold 50px Helvetica, Arial, Sans-serif; text-align: center; color: #eee; text-shadow: 0px 2px 6px #333; }
h1 small{ font-size: 20px; text-transform:uppercase; letter-spacing: 14px; display: block; color: #ccc; margin-top:10px; }
h2 a { display: block; text-decoration: none; margin: 0 0 30px 0; font: italic 40px Georgia, Times, Serif;  text-align: center; color: #bfe1f1; text-shadow: 0px 2px 6px #333; }
h2 a:hover { color: #90bcd0; }


div { }
/* COMMON CLASSES */
.break { clear:both; }

/* WRAPPER */
#wrapper { /*width:1200px;  margin:40px auto; */
    width: 100%;
	margin:  40px auto;
    text-align: left;
}

/* CONTENT */
#content { margin:10px auto; } /* align all to center */
#content h2 { font: bold 30px Helvetica, Arial, Sans-serif; color:#eee; text-shadow: 0px 2px 6px #333; text-align:center; padding-top:20px; }

/* BAR */
#bar { position:relative; width: 740px; margin: 0 auto; top:50px; /*margin:100px 0 0 160px;*/ text-align:center; }
#bar div.element { margin-bottom:20px; 
	-webkit-transition:-webkit-transform 0.1s ease-in; /*animate transform property */
	-o-transition:-o-transform 0.1s ease-in; /*animate transform property in Opera */
	-moz-transition-duration: 0.1s;
	-moz-transition-timing-function: ease-in;
	
	float:left;
	min-width:370px;
}
/*
#first { left: 200px; }
#second { left: 800px; }
  */  

div.element div.oneheight { height:100px; }

/* Last bottom should have a shadow #bar li:last-child div.bottom */
#bar div.element div.bottom { -moz-box-shadow: 0 10px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 10px 30px hsla(0,0%,0%,.2); box-shadow: 0 10px 30px hsla(0,0%,0%,.2); 
	-moz-transition-property: background-color;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 1s;
	-o-transition-property: background-color;
	-o-transition-duration: 1s;
	transition-property: background-color;
	transition-duration: 1s;
}

/* Ellipse progressbar */
.element div.progressbar { display:inline; position:absolute; margin-left:0px; background-color:rgba(140,172,176,0);
	width:40px; -moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px; 
    z-index:5;
    background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0.19, rgba(101,120,122,0.2)),
    color-stop(0.7, rgba(140,172,176,0.2))
);
background-image: -moz-linear-gradient(
    right bottom,
    rgba(101,120,122,0.2) 19%,
    rgba(140,172,176,0.2) 70%
);    
    box-shadow: 0px 0px 20px rgba(183,222,237,0);
    -moz-box-shadow: 0px 0px 20px rgba(183,222,237,0);
    -webkit-box-shadow: 0 0 20px rgba(183,222,237,0);
    }
    
.element:hover div.progressbar {-webkit-transition: all 8s linear; -moz-transition: all 8s linear; -o-transition: all 8s linear;
	/*@-webkit-keyframes pulsate {
	0% { width:40px; }
	100% { width:240px;  }
	}*/
    width:350px;
    background-color:rgba(255,255,255,0.9);
    box-shadow: 0px 0px 20px rgba(183,222,237,1);
    -moz-box-shadow: 0px 0px 20px rgba(183,222,237,1);
    -webkit-box-shadow: 0 0 20px rgba(183,222,237,1);
    }
    

.element div.right { display:inline; position:absolute; margin-left:310px;  background-color:rgba(140,172,176,0); 
	width:40px; -moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px; 
background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0.19, rgba(101,120,122,0.5)),
    color-stop(0.7, rgba(140,172,176,0.5))
);
background-image: -moz-linear-gradient(
    right bottom,
    rgba(101,120,122,0.5) 19%,
    rgba(140,172,176,0.5) 70%
);
-moz-box-shadow: 0 0px 10px hsla(0,0%,0%,.2); -webkit-box-shadow: 0 -10px 50px hsla(0,0%,0%,.2); box-shadow: 0 -10px 50px hsla(0,0%,0%,.2);

	-moz-transition-property: background-color;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 1s;
	-o-transition-property: background-color;
	-o-transition-duration: 1s;
	transition-property: background-color;
	transition-duration: 1s;
    
    }


.tracktext { top:35px; visibility:hidden; width:350px; text-align:center; position:absolute; z-index: 1000; display:inline; }
.tracktext p { /*margin-left:-320px; margin-top:4px;*/}
.notes { top:5px; margin-left: 50px; visibility:visible; position:absolute; z-index: 1000; display:inline; }
.note { background-color:rgba(140,172,176,0.7); width:15px; height:5px; -moz-border-radius: 5px/10px; -webkit-border-radius: 5px 10px; border-radius: 5px/10px; content: " " display:inline; position:absolute; }

/* Bar bottom */
.element div.bottom {  background-color:rgba(184,203,205,0); display:inline; position:absolute; 
	-moz-border-radius: 40px/80px; -webkit-border-radius: 40px 80px; border-radius: 40px/80px; 
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.35, rgba(81,91,92,0.4)),
    color-stop(0.85, rgba(184,203,206,0.4))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgba(81,91,92,0.4) 35%,
    rgba(184,203,206,0.4) 85%
);
    }
	
.element div.bottom div.infobox { padding:95px 0 0 0px; text-align:center; font-variant:small-caps;}
.element div.bottom div.infobox h3 { font-family:"Calibri",Arial,Helvetica,Sans-Serif; }
.element div.bottom div.infobox p { font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; text-shadow: 0px 5px 5px #111; }

/* General hover actions */
.element:hover div.tracktext { visibility:visible; }
/*#bar li:hover div.bottom, div.right { background-color:rgba(140,172,176,0.8);  }*/
/*#bar li:hover div.bottom div.infobox { color:#eee; text-shadow: 0px 5px 5px #111; }*/

/* first bar */
#first div.right { z-index:99; }
#first div.bottom { z-index:98; width:350px; }
#first:hover div.right { z-index:995; /*background-color:#1f81ac;*/ background-color:rgba(31,129,172,0.5);
}

#first:hover div.bottom { z-index:994; /*background-color:#1a6c90;*/ background-color:rgba(26,108,144,0.7);
	/*background:-moz-linear-gradient(-90deg, #1a6c90, #14506b); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#1a6c90), to(#14506b)); */
    }

/* second bar */
#second div.right { z-index:93; }
#second div.bottom { z-index:92; width:350px; }
#second:hover div.right { z-index:993; background-color:rgba(125,168,100,0.5); }
#second:hover div.bottom { z-index:992; background-color:rgba(105,141,84,0.7);
	/*background:-moz-linear-gradient(-90deg, #698d54, #506b40); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#698d54), to(#506b40));*/  }
